* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f5f6f8;
}

header, footer {
    background: #4a6897;
    color: white;
    padding: 12px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
    justify-content:center;
    padding-bottom:400px;

}

.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items:center;
    flex-direction: column;

}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.link {
    display: block;
    margin-top: 10px;
    color: #2563eb;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.app {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 10px;
    color: white;
    margin-top: 8px;
}

.new { background: #f59e0b; }
.prog { background: #2563eb; }
.done { background: #10b981; }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background: #eee;
}

.slider {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.slides {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

footer {
    text-align: center;
}
img{
    mix-blend-mode: multiply;
}